<style>
.modal-body {
    overflow-y: hidden;
    max-height:400px;
  }

</style>

<div class="modal-header state modal-primary">
     <button type="button" class="close" aria-label="Close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
     <h4 class="modal-title" id="modal-success-label" ><i class="fa fa-check" ></i>{{headerLabel}}</h4>
</div>
 <div class="modal-body" id="modal-body">
       <div style="padding:10px">
	      <div ng-controller="controller" ng-include="templateUrl"></div>
     </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div> 
