<style>
.modal-body {
	overflow-y: hidden;
	max-height: 400px;
}

.modal {
	margin: 0px;
	padding: 0px
}

.modal-dialog {
	margin: 5% auto;
}
</style>

<div class="modal-header state modal-primary">
	<button type="button" class="close" aria-label="Close"
		ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="modal-success-label">
		<i class="fa fa-check"></i>Category
	</h4>
</div>
<div class="modal-body" id="modal-body">
	<div style="padding: 10px">
		<div class="row" style="padding: 10px">
			<div class="col-md-6">
				<input type="text" class="form-control"
					ng-model="dataObject['id']">
			</div>
			<div class="col-md-6">
				<input type="text" class="form-control"
					ng-model="dataObject['name']">
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
